<main id="main" class="main">
    <section class="section dashboard">
        <div class="row">

            <!-- Blocs Card -->
            <div class="col-12">
                <app-bloc-cards></app-bloc-cards>
            </div>
            <!-- End Blocs Card -->

            <!-- Bloc Maps -->
            <div class="col-12">
                <app-bloc-maps></app-bloc-maps>
            </div>
            <!-- End Blocs Maps -->
            <!-- Recent Sales -->
            <!-- Top Selling -->
        </div>
    </section>
</main><!-- End #main -->