.card {
    margin: 1rem 0;
    padding: 1rem;
}

.card_structure {
    display: ruby;
    margin-left: 1rem;
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    margin-top: 3.5rem;
    margin-left: 20rem;
    margin-right: 2rem;
    transition: all 0.3s;
}